<!doctype html>

<html lang="de">
  <head>
    <meta charset="utf-8">

    <title>Vue-Grundlagen</title>
    <meta name="description" content="Das Vue-3-Buch">
    <meta name="author" content="Dr. Fabian Deitelhoff">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

  </head>

  <body>
    Ein wenig Inhalt als einfacher Test...

    <!-- HTML-Element (div) zum Mounten der App. -->
    <div id="first-app">
      <div>{{ info }}</div>

      <div>
        Neue Veranstaltung hinzufügen:
        {{ eventName }}
        <input v-model="eventName" placeholder="Name der Veranstaltung" />
        <button @click="addEvent">Hinzufügen</button>
      </div>

      <div v-if="events.length > 0">
        <div v-for="event in events" :key="event.id">
          <p>
            ID: {{ event.id }}
            <br />
            Name: {{ event.name }}
            <br />
            Anzahl Teilnehmende: {{ event.participantCount }}
          </p>
        </div>        
      </div>
      <div v-else>
        <p>Keine Veranstaltungen vorhanden. Du kannst welche hinzufügen...</p>
      </div>
    </div>

    <!-- Die Referenz auf die Vue-Bibliothek. -->
    <script src="https://unpkg.com/vue@next"></script>
    
    <!-- Das Script-Element für die erste Vue-App. -->
    <script>
      const FirstVueApp = {
        data() {
          return {
            info: 'Inhalt aus der Vue- Instanz...',
            eventName: '',
            events: [
              { id: 1, name: 'Veranstaltung 1', participantCount: 7 },
              { id: 2, name: "Veranstaltung 2", participantCount: 9 },
              { id: 3, name: "Veranstaltung 3", participantCount: 13 },
              { id: 4, name: "Veranstaltung 4", participantCount: 22 }
            ]
          }
        },
        methods: {
          addEvent () {
            console.log('Veranstaltung hinzufügen', this.eventName);
            
            this.events.push({
              id: this.events.length + 1,
              name: this.eventName,
              participantCount: 0 
            });

            this.eventName = '';
          }
        },
      }

      Vue.createApp(FirstVueApp).mount('#first-app')
    </script>
  </body>
</html>